In [1]:
%load_ext nb_black

In [2]:
# Basics
import tensorflow as tf
import pandas as pd
import xarray as xr

# Helpful
from tqdm import tqdm

# Visualization
import matplotlib.pyplot as plt

# My Methods
from src.utils.CRPS import *  # CRPS metrics
from src.utils.data_split import *  # Splitting data into X and y
from src.utils.drn_make_X_array import *  # Import make train array functions (make_X_array)
from src.models.EMOS import *  # EMOS implementation
from src.models.DRN.DRN_model import *  # DRN implementation
from src.models.DRN.DRN_load_score import *  # Load DRN_scores
from src.models.DRN.DRN_load_model import *  # Load Models
from src.models.DRN.DRN_train import *
from src.models.EMOS_local.EMOS_local_load_score import *  # Load EMOS_local_scores
from src.models.EMOS_global.EMOS_global_load_score import *  # Load EMOS_global_scores
from src.models.EMOS_global.EMOS_global_load_model import *  # Load EMOS_global_models#
import data.raw.load_data_raw as ldr  # Load raw data
import data.processed.load_data_processed as ldp  # Load processed data normed
import data.processed.load_data_processed_denormed as ldpd  # Load processed data denormed
from src.models.CRPS_baseline.CRPS_load import *  # Load CRPS scores

2023-06-22 21:12:28.586588: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: :/opt/anaconda3/lib/
2023-06-22 21:12:28.586608: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

### 0. Setup

In [3]:
run = 0
path = f"/Data/Delong_BA_Data/scores/DRN_hyper_scores/DRN_hyper_scores_dataframe_5_run_{run}.csv"
df_DRN_hyper_scores_0 = pd.read_csv(path)

In [4]:
run = 1
path = f"/Data/Delong_BA_Data/scores/DRN_hyper_scores/DRN_hyper_scores_dataframe_5_run_{run}.csv"
df_DRN_hyper_scores_1 = pd.read_csv(path)

In [5]:
run = 2
path = f"/Data/Delong_BA_Data/scores/DRN_hyper_scores/DRN_hyper_scores_dataframe_5_run_{run}.csv"
df_DRN_hyper_scores_2 = pd.read_csv(path)

In [32]:
run = 3
path = f"/Data/Delong_BA_Data/scores/DRN_hyper_scores/DRN_hyper_scores_dataframe_5_run_{run}.csv"
df_DRN_hyper_scores_3 = pd.read_csv(path)

In [33]:
run = 4
path = f"/Data/Delong_BA_Data/scores/DRN_hyper_scores/DRN_hyper_scores_dataframe_5_run_{run}.csv"
df_DRN_hyper_scores_3 = pd.read_csv(path)

### 1. Functions

In [6]:
def df_split_lead(df):
    return [
        df.loc[df["lead_time"] == 0],
        df.loc[df["lead_time"] == 15],
        df.loc[df["lead_time"] == 30],
    ]

In [7]:
df_DRN_hyper_split_0 = df_split_lead(df_DRN_hyper_scores_0)
df_DRN_hyper_split_1 = df_split_lead(df_DRN_hyper_scores_1)
df_DRN_hyper_split_2 = df_split_lead(df_DRN_hyper_scores_2)
# df_DRN_hyper_split_3 = df_split_lead(df_DRN_hyper_scores_3)

#### Run 0

In [8]:
df_DRN_hyper_split_0[0].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
41,0,"[64, 32]",5,1024,30,0.001,Adam,relu,0.391223
50,0,"[64, 32]",10,1024,30,0.001,Adam,relu,0.391784
5,0,[256],5,1024,30,0.001,Adam,relu,0.392277
14,0,[256],10,1024,30,0.001,Adam,relu,0.392297
32,0,[512],10,1024,30,0.001,Adam,relu,0.392469
23,0,[512],5,1024,30,0.001,Adam,relu,0.392554
17,0,[256],10,2048,30,0.001,Adam,relu,0.392646
35,0,[512],10,2048,30,0.001,Adam,relu,0.392879
44,0,"[64, 32]",5,2048,30,0.001,Adam,relu,0.393125
8,0,[256],5,2048,30,0.001,Adam,relu,0.393225

In [9]:
df_DRN_hyper_split_0[1].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
80,15,[512],5,2048,30,0.001,Adam,relu,1.103386
89,15,[512],10,2048,30,0.001,Adam,relu,1.106169
71,15,[256],10,2048,30,0.001,Adam,relu,1.109336
62,15,[256],5,2048,30,0.001,Adam,relu,1.109618
70,15,[256],10,2048,30,0.005,Adam,relu,1.117604
107,15,"[64, 32]",10,2048,30,0.001,Adam,relu,1.127908
77,15,[512],5,1024,30,0.001,Adam,relu,1.136670
97,15,"[64, 32]",5,2048,30,0.005,Adam,relu,1.142306
55,15,[256],5,512,30,0.005,Adam,relu,1.142515
60,15,[256],5,2048,30,0.010,Adam,relu,1.143295

In [10]:
df_DRN_hyper_split_0[2].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
150,30,"[64, 32]",5,2048,30,0.010,Adam,relu,1.454142
149,30,"[64, 32]",5,1024,30,0.001,Adam,relu,1.454642
156,30,"[64, 32]",10,1024,30,0.010,Adam,relu,1.458116
112,30,[256],5,1024,30,0.005,Adam,relu,1.460081
142,30,[512],10,2048,30,0.005,Adam,relu,1.461242
147,30,"[64, 32]",5,1024,30,0.010,Adam,relu,1.461641
151,30,"[64, 32]",5,2048,30,0.005,Adam,relu,1.462537
127,30,[512],5,512,30,0.005,Adam,relu,1.467402
159,30,"[64, 32]",10,2048,30,0.010,Adam,relu,1.467601
158,30,"[64, 32]",10,1024,30,0.001,Adam,relu,1.472441

In [10]:
df_DRN_hyper_split_0[0]

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
0,0,[256],5,512,30,0.010,Adam,relu,0.416600
1,0,[256],5,512,30,0.005,Adam,relu,0.407085
2,0,[256],5,512,30,0.001,Adam,relu,0.404205
3,0,[256],5,1024,30,0.010,Adam,relu,0.406739
4,0,[256],5,1024,30,0.005,Adam,relu,0.398502
5,0,[256],5,1024,30,0.001,Adam,relu,0.392277
6,0,[256],5,2048,30,0.010,Adam,relu,0.401407
7,0,[256],5,2048,30,0.005,Adam,relu,0.399082
8,0,[256],5,2048,30,0.001,Adam,relu,0.393225
9,0,[256],10,512,30,0.010,Adam,relu,0.428919
10,0,[256],10,512,30,0.005,Adam,relu,0.414054
11,0,[256],10,512,30,0.001,Adam,relu,0.393561
12,0,[256],10,1024,30,0.010,Adam,relu,0.418631
13,0,[256],10,1024,30,0.005,Adam,relu,0.398820
14,0,[256],10,1024,30,0.001,Adam,relu,0.392297
15,0,[256],10,2048,30,0.010,Adam,relu,0.403171
16,0,[256],10,2048,30,0.005,Adam,relu,0.401315
17,0,[256],10,2048,30,0.001,Adam,relu,0.392646
18,0,[512],5,512,30,0.010,Adam,relu,0.413958
19,0,[512],5,512,30,0.005,Adam,relu,0.406916
20,0,[512],5,512,30,0.001,Adam,relu,0.395092
21,0,[512],5,1024,30,0.010,Adam,relu,0.406577
22,0,[512],5,1024,30,0.005,Adam,relu,0.397727
23,0,[512],5,1024,30,0.001,Adam,relu,0.392554
24,0,[512],5,2048,30,0.010,Adam,relu,0.400529
25,0,[512],5,2048,30,0.005,Adam,relu,0.398606
26,0,[512],5,2048,30,0.001,Adam,relu,0.394118
27,0,[512],10,512,30,0.010,Adam,relu,0.418237
28,0,[512],10,512,30,0.005,Adam,relu,0.419187
29,0,[512],10,512,30,0.001,Adam,relu,0.393611
30,0,[512],10,1024,30,0.010,Adam,relu,0.414422
31,0,[512],10,1024,30,0.005,Adam,relu,0.399107
32,0,[512],10,1024,30,0.001,Adam,relu,0.392469
33,0,[512],10,2048,30,0.010,Adam,relu,0.403187
34,0,[512],10,2048,30,0.005,Adam,relu,0.395399
35,0,[512],10,2048,30,0.001,Adam,relu,0.392879
36,0,"[64, 32]",5,512,30,0.010,Adam,relu,0.442790
37,0,"[64, 32]",5,512,30,0.005,Adam,relu,0.409674
38,0,"[64, 32]",5,512,30,0.001,Adam,relu,0.400447
39,0,"[64, 32]",5,1024,30,0.010,Adam,relu,0.409983
40,0,"[64, 32]",5,1024,30,0.005,Adam,relu,0.403021
41,0,"[64, 32]",5,1024,30,0.001,Adam,relu,0.391223
42,0,"[64, 32]",5,2048,30,0.010,Adam,relu,0.401779
43,0,"[64, 32]",5,2048,30,0.005,Adam,relu,0.397452
44,0,"[64, 32]",5,2048,30,0.001,Adam,relu,0.393125
45,0,"[64, 32]",10,512,30,0.010,Adam,relu,0.426638
46,0,"[64, 32]",10,512,30,0.005,Adam,relu,0.407869
47,0,"[64, 32]",10,512,30,0.001,Adam,relu,0.393599
48,0,"[64, 32]",10,1024,30,0.010,Adam,relu,0.414432
49,0,"[64, 32]",10,1024,30,0.005,Adam,relu,0.400732
50,0,"[64, 32]",10,1024,30,0.001,Adam,relu,0.391784
51,0,"[64, 32]",10,2048,30,0.010,Adam,relu,0.401962
52,0,"[64, 32]",10,2048,30,0.005,Adam,relu,0.399520
53,0,"[64, 32]",10,2048,30,0.001,Adam,relu,0.396413

#### Run 1

In [11]:
df_DRN_hyper_split_1[0].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
19,0,"[64, 32]",5,2048,30,0.0010,Adam,relu,0.391829
11,0,[1024],5,2048,30,0.0005,Adam,relu,0.392736
20,0,"[64, 32]",5,2048,30,0.0005,Adam,relu,0.392758
5,0,[512],5,4096,30,0.0005,Adam,relu,0.392899
10,0,[1024],5,2048,30,0.0010,Adam,relu,0.392955
8,0,[512],5,8192,30,0.0005,Adam,relu,0.393169
14,0,[1024],5,4096,30,0.0005,Adam,relu,0.393226
2,0,[512],5,2048,30,0.0005,Adam,relu,0.393336
4,0,[512],5,4096,30,0.0010,Adam,relu,0.393619
23,0,"[64, 32]",5,4096,30,0.0005,Adam,relu,0.393755

In [12]:
df_DRN_hyper_split_1[1].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
44,15,[512],5,8192,30,0.0005,Adam,relu,1.057344
62,15,"[64, 32]",5,8192,30,0.0005,Adam,relu,1.057491
53,15,[1024],5,8192,30,0.0005,Adam,relu,1.059019
61,15,"[64, 32]",5,8192,30,0.0010,Adam,relu,1.060262
43,15,[512],5,8192,30,0.0010,Adam,relu,1.061505
52,15,[1024],5,8192,30,0.0010,Adam,relu,1.062216
71,15,"[256, 128]",5,8192,30,0.0005,Adam,relu,1.063900
42,15,[512],5,8192,30,0.0050,Adam,relu,1.064583
51,15,[1024],5,8192,30,0.0050,Adam,relu,1.066343
70,15,"[256, 128]",5,8192,30,0.0010,Adam,relu,1.068447

In [14]:
df_DRN_hyper_split_1[2].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
98,30,"[64, 32]",5,8192,30,0.0005,Adam,relu,1.424669
80,30,[512],5,8192,30,0.0005,Adam,relu,1.424684
89,30,[1024],5,8192,30,0.0005,Adam,relu,1.426720
107,30,"[256, 128]",5,8192,30,0.0005,Adam,relu,1.429517
97,30,"[64, 32]",5,8192,30,0.0010,Adam,relu,1.431518
106,30,"[256, 128]",5,8192,30,0.0010,Adam,relu,1.432745
88,30,[1024],5,8192,30,0.0010,Adam,relu,1.435166
79,30,[512],5,8192,30,0.0010,Adam,relu,1.436999
105,30,"[256, 128]",5,8192,30,0.0050,Adam,relu,1.440670
87,30,[1024],5,8192,30,0.0050,Adam,relu,1.444046

#### Run 2

In [15]:
df_DRN_hyper_split_2[0].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
2,0,[512],5,8192,70,0.00010,Adam,relu,0.390559
1,0,[512],5,8192,70,0.00050,Adam,relu,0.391408
6,0,[512],5,16384,70,0.00050,Adam,relu,0.393627
11,0,[512],5,32768,70,0.00050,Adam,relu,0.394111
12,0,[512],5,32768,70,0.00010,Adam,relu,0.395549
3,0,[512],5,8192,70,0.00005,Adam,relu,0.396030
8,0,[512],5,16384,70,0.00005,Adam,relu,0.396740
5,0,[512],5,16384,70,0.00100,Adam,relu,0.397235
7,0,[512],5,16384,70,0.00010,Adam,relu,0.397882
13,0,[512],5,32768,70,0.00005,Adam,relu,0.398906

In [18]:
df_DRN_hyper_split_2[1].sort_values("score").head(20)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
21,15,[512],5,16384,70,0.00050,Adam,relu,1.054536
20,15,[512],5,16384,70,0.00100,Adam,relu,1.056535
17,15,[512],5,8192,70,0.00010,Adam,relu,1.056593
26,15,[512],5,32768,70,0.00050,Adam,relu,1.057183
16,15,[512],5,8192,70,0.00050,Adam,relu,1.057222
25,15,[512],5,32768,70,0.00100,Adam,relu,1.057525
18,15,[512],5,8192,70,0.00005,Adam,relu,1.057850
23,15,[512],5,16384,70,0.00005,Adam,relu,1.059485
22,15,[512],5,16384,70,0.00010,Adam,relu,1.060055
15,15,[512],5,8192,70,0.00100,Adam,relu,1.061347
28,15,[512],5,32768,70,0.00005,Adam,relu,1.061692
27,15,[512],5,32768,70,0.00010,Adam,relu,1.063117
19,15,[512],5,8192,70,0.00001,Adam,relu,1.069048
24,15,[512],5,16384,70,0.00001,Adam,relu,1.087088
29,15,[512],5,32768,70,0.00001,Adam,relu,1.188555

In [17]:
df_DRN_hyper_split_2[2].sort_values("score").head(10)

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
43,30,[512],5,32768,70,0.00005,Adam,relu,1.375828
42,30,[512],5,32768,70,0.00010,Adam,relu,1.376968
38,30,[512],5,16384,70,0.00005,Adam,relu,1.378205
34,30,[512],5,8192,70,0.00001,Adam,relu,1.383941
33,30,[512],5,8192,70,0.00005,Adam,relu,1.385455
37,30,[512],5,16384,70,0.00010,Adam,relu,1.392288
39,30,[512],5,16384,70,0.00001,Adam,relu,1.397991
32,30,[512],5,8192,70,0.00010,Adam,relu,1.400197
36,30,[512],5,16384,70,0.00050,Adam,relu,1.411124
41,30,[512],5,32768,70,0.00050,Adam,relu,1.416010

#### Run 3

In [26]:
df_DRN_hyper_split_3[0].sort_values("score")

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
2,0,"[64, 128, 256]",5,16384,30,0.001,Adam,relu,0.413649
1,0,"[64, 128, 256]",5,8192,30,0.001,Adam,relu,0.416769
0,0,"[64, 128, 256]",5,4096,30,0.001,Adam,relu,0.431964
3,0,"[64, 128, 256]",5,32768,30,0.001,Adam,relu,0.440305

In [24]:
df_DRN_hyper_split_3[1].sort_values("score").head()

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
6,15,"[64, 128, 256]",5,16384,30,0.001,Adam,relu,1.121147
7,15,"[64, 128, 256]",5,32768,30,0.001,Adam,relu,1.122047
4,15,"[64, 128, 256]",5,4096,30,0.001,Adam,relu,1.168410
5,15,"[64, 128, 256]",5,8192,30,0.001,Adam,relu,1.201807

In [25]:
df_DRN_hyper_split_3[2].sort_values("score").head()

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
11,30,"[64, 128, 256]",5,32768,30,0.001,Adam,relu,1.509228
10,30,"[64, 128, 256]",5,16384,30,0.001,Adam,relu,1.524663
9,30,"[64, 128, 256]",5,8192,30,0.001,Adam,relu,1.531829
8,30,"[64, 128, 256]",5,4096,30,0.001,Adam,relu,1.769241

#### Run 4

In [35]:
df_DRN_hyper_scores_3

,lead_time,hidden_layer,emb_size,batch_size,epochs,lr,optimizer,activation,score
0,0,[1024],10,2048,30,0.001,Adam,relu,0.407738
1,15,[1024],10,2048,30,0.001,Adam,relu,1.140125
2,30,[1024],10,2048,30,0.001,Adam,relu,1.439201